.dashboard-banner-chart,
.dashboard-banner-chart-legend {
    display: none !important;
}

.dashboard-banner {
    display: block !important;
}
.dashboard-banner-container {
    background: #141414 !important;
}
.dashboard-banner-container:before {
    display: none !important;
}
.dashboard-banner-network-stats {
    height: 200px !important;
}

